<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server Messages</title>
    <style>
    .message-container {
        background-color: #f4f4f4;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        white-space: pre-wrap; /* Preserves whitespace and offers wrap */
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
</style>
</head>
<body>
    <h1>Received Messages</h1>
    <div id="container">
        <div id="buttonContainer">
            <button id="clearButton">Clear Messages</button>
            <!-- Download button if config is for File -->
            <button id="downloadButton" style="display:none;">Download File</button>
        </div>
        <div id="filePath" style="display:none;">
            <!-- File path will be displayed here when config is 'file' -->
            <p>File path: <span id="filePathText"></span></p>
        </div>
        <div id="messages">
            <!-- Client Messages received will be displayed here -->
        </div>
    </div>

    <script>
        // Function to escape special HTML characters
        function escapeHtml(unsafe) {
            return unsafe.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;")
                        .replace(/"/g, "&quot;").replace(/'/g, "&#039;");
        }

        // Fetch messages from the server and update the page
        function updateMessages() {
            fetch('/get_messages')
            .then(response => response.json())
            .then(data => {
                let messageDiv = document.getElementById("messages");
                messageDiv.innerHTML = '';

                // Handle 'file_or_print_display' config from server
                if (data.file_or_print === 'file') {
                    document.getElementById("downloadButton").style.display = 'block';
                    document.getElementById("filePath").style.display = 'block';
                    document.getElementById("filePathText").innerText = data.file_path; // Assuming server returns a 'file_path' attribute
                } else {
                    document.getElementById("downloadButton").style.display = 'none';
                    document.getElementById("filePath").style.display = 'none';
                }

                data.received_messages.forEach(message => {
                    let escapedMessage = escapeHtml(message);
                    messageDiv.innerHTML += `<div class="message-container">${escapedMessage}</div>`;
                });
            });
        }

        // Clear messages on server and update the page
        document.getElementById("clearButton").addEventListener("click", function() {
            fetch('/clear_messages', {
                method: 'POST',
            }).then(() => {
                updateMessages();  // Refresh content after clearing
            });
        });


        // Download file
        document.getElementById("downloadButton").addEventListener("click", function() {
            window.location.href = '/download_file';
        });

        // Update messages every 2 seconds
        setInterval(updateMessages, 2000);
    </script>
</body>
</html>
